<!doctype html>
<html lang="en" ng-app="cmcShop">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
   <div class="row">
      <div class="span6">
         <div ng-controller="ProductCarouselCtrl">
            <carousel>
               <slide ng-repeat="product in products">
                  <img src="{{product.image}}" style="margin:auto;" />
                  <div class="carousel-caption">
                     <h4>{{products.type + ' ' + ($index + 1)}}</h4>
                     <a href="" title="Buy this {{products.type}}" ng-click="buy(product)">Buy "{{product.text}}" for £{{product.price}}</a>
                  </div>
               </slide>
            </carousel>
         </div>
      </div>
      <div class="span3">
         <accordion close-others="true">
            <accordion-group heading="Basket" is-open="true">
               <div ng-controller="BasketCtrl">
                  <p>Your shopping basket:</p>
                  <ul>
                     <li ng-repeat="item in items">
                        {{item.text}}
                        <i class="icon-minus" ng-click="minus(item)"></i>{{item.quantity}}<i class="icon-plus" ng-click="plus(item)"></i><i class="icon-remove" ng-click="remove(item)"></i>
                     </li>
                  </ul>
               </div>
            </accordion-group>
            <accordion-group heading="Delivery Method">
               <div ng-controller="DeliveryMethodCtrl">
                  <p>Your delivery method:</p>
                  <label ng-repeat="method in methods">
                     <input type="radio" name="deliveryMethod" ng-value="method" ng-model="$parent.selectedMethod">{{method.type}} for £{{method.price}}
                  </label>
               </div>
            </accordion-group>
         </accordion>
      </div>
      <div class="span3 well" ng-controller="CompletionCtrl">
         <p>Total: £{{totalAmount}}</p>
         <p>
            <a href="" title="Complete order" ng-click="complete()">Complete your order</a>
         </p>
         <p>
            <a href="" title="Cancel order" ng-click="cancel()">Cancel your order</a>
         </p>
      </div>
   </div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
