<!doctype html>
<html lang="en" ng-app="cmcShop">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
   <div class="row">
      <div class="span6">
         <div ng-controller="ProductCarouselCtrl">
            <carousel>
               <slide ng-repeat="product in products">
                  <img src="{{product.image}}" style="margin:auto;" />
                  <div class="carousel-caption">
                     <h4>{{products.type + ' ' + ($index + 1)}}</h4>
                     <a href="" title="Buy this {{products.type}}" ng-click="buy(product)">Buy "{{product.text}}" for £{{product.price}}</a>
                  </div>
               </slide>
            </carousel>
         </div>
      </div>
      <div class="span3">
         <div ng-view></div>
      </div>
   </div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
